<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.News" >
    <id column="ID" property="ID" jdbcType="VARCHAR" />
    <result column="TITLE" property="TITLE" jdbcType="VARCHAR" />
    <result column="CONTENT" property="CONTENT" jdbcType="VARCHAR" />
    <result column="ADD_DATE" property="ADD_DATE" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="USER_ID" jdbcType="VARCHAR" />
    <result column="TYPOE" property="TYPOE" jdbcType="CHAR" />
    <result column="PHOTO" property="PHOTO" jdbcType="VARCHAR" />

    <association property="USER" javaType="com.demo.entity.User">
      <id column="ID" property="id" jdbcType="VARCHAR" />
      <result column="USERNAME" property="username" jdbcType="VARCHAR" />
      <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
      <result column="STATUS" property="status" jdbcType="CHAR" />
      <result column="ADD_DATE" property="addDate" jdbcType="TIMESTAMP" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, CONTENT, ADD_DATE, USER_ID, TYPOE, PHOTO
  </sql>

  <select id="searchNewsInfo"  resultMap="BaseResultMap" >
    SELECT * FROM NEWS_INFO news
    INNER JOIN USER_INFO users ON news.USER_ID = users.ID
    WHERE news.ID = #{0}
  </select>


  <insert id="insertSelective" parameterType="com.demo.entity.News" >
    insert into NEWS_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="TITLE != null" >
        TITLE,
      </if>
      <if test="CONTENT != null" >
        CONTENT,
      </if>
      <if test="ADD_DATE != null" >
        ADD_DATE,
      </if>
      <if test="USER_ID != null" >
        USER_ID,
      </if>
      <if test="TYPOE != null" >
        TYPOE,
      </if>
      <if test="PHOTO != null" >
        PHOTO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="TITLE != null" >
        #{TITLE,jdbcType=VARCHAR},
      </if>
      <if test="CONTENT != null" >
        #{CONTENT,jdbcType=VARCHAR},
      </if>
      <if test="ADD_DATE != null" >
        #{ADD_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="USER_ID != null" >
        #{USER_ID,jdbcType=VARCHAR},
      </if>
      <if test="TYPOE != null" >
        #{TYPOE,jdbcType=CHAR},
      </if>
      <if test="PHOTO != null" >
        #{PHOTO,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.News" >
    update NEWS_INFO
    <set >
      <if test="TITLE != null" >
        TITLE = #{TITLE,jdbcType=VARCHAR},
      </if>
      <if test="CONTENT != null" >
        CONTENT = #{CONTENT,jdbcType=VARCHAR},
      </if>
      <if test="ADD_DATE != null" >
        ADD_DATE = #{ADD_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="USER_ID != null" >
        USER_ID = #{USER_ID,jdbcType=VARCHAR},
      </if>
      <if test="TYPOE != null" >
        TYPOE = #{TYPOE,jdbcType=CHAR},
      </if>
      <if test="PHOTO != null" >
        PHOTO = #{PHOTO,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
</mapper>